@model TSearch.AccountViewModels.AccountProfileViewModel


    <div class="card-body" data-user-id="@Model.User.Id">
        <h4 class="card-title">Card title</h4>
        <h6 class="card-subtitle mb-2 text-muted">@Model.User.UserName</h6>
        @using (Html.BeginForm("ChangePassword", "Account"))
        {
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChangePasswordModel.OldPassword"></label>
                <input asp-for="ChangePasswordModel.OldPassword" class="form-control" />
                <span asp-validation-for="ChangePasswordModel.OldPassword" class="text-danger "></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangePasswordModel.Password"></label>
                <input asp-for="ChangePasswordModel.Password" class="form-control" />
                <span asp-validation-for="ChangePasswordModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangePasswordModel.ConfirmPassword"></label>
                <input asp-for="ChangePasswordModel.ConfirmPassword" class="form-control" />
                <span asp-validation-for="ChangePasswordModel.ConfirmPassword" class="text-danger"></span>
            </div>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=> x.User.Id)

            <button type="submit" class="btn btn-outline-primary">Save</button>
            <partial name="_ValidationScriptsPartial" />
        }

    </div>




