@model TSearch.AccountViewModels.AccountProfileViewModel

<div class="card-body" data-user-id="@Model.User.Id">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">@Model.User.UserName</h6>
</div>