<h3 class="text-danger">Something went wrong. Please try again. Did you type old password correctly?</h3>

<a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Profile">Go back</a>