@model TSearch.AccountViewModels.AccountProfileViewModel

<div class="row" id="profile" data-user-id="@Model.User.Id">
    <div class="list-group mt-5 col-md-3">
        <button id="general" class="list-group-item list-group-item-action active">General</button>
        <button id="change-password" class="list-group-item list-group-item-action">Change password</button>
        <button id="set-country" class="list-group-item list-group-item-action">Country</button>
    </div>
    <div class="card mt-5 col-md-6" id="target">

    </div>
</div>


@section Scripts
{
    <script src="~/js/account-profile.js"></script>

}
